/**
 * Fresh Pear CSS
 *
 * Have a nice day and happy coding!
 *
 * @author    
 * @copyright 
 * @url       
 * 
 */

/*
| ---------------------------------------------------------------------------------------------------
| Less Variables
| ---------------------------------------------------------------------------------------------------
*/
@link:          #99cc00;
@link-visited:  #99cc00;
@link-focus:    #ccff00;
@link-hover:    #ccff00;


/*
| ---------------------------------------------------------------------------------------------------
| Import core styles
| ---------------------------------------------------------------------------------------------------
*/
@import url(../../yaml/core/base.css);
@import url(../../yaml/navigation/nav_shinybuttons.css);


@import "basemod.less";
@import "content.less";


/*
| ---------------------------------------------------------------------------------------------------
| Mobile as Default
| ---------------------------------------------------------------------------------------------------
*/
body, .page_margins {
  padding: 0 auto;
  margin: 0 auto;
  width: 288px;
}

/* Formatting content container */
#col1,
#col2,
#col3 {
  float: none;
  width: auto;
  margin: 0;
}
#col1_content,
#col2_content,
#col3_content {
  padding: 10px;
}


/*
| ---------------------------------------------------------------------------------------------------
| MQ -> Tablets
| ---------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 667px) {
  body, .page_margins {
    padding: 0 auto;
    margin: 0 auto;
    width: 576px;
  }
}


/*
| ---------------------------------------------------------------------------------------------------
| MQ -> Desktop
| ---------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 985px) {
  body, .page_margins {
    padding: 0 auto;
    margin: 0 auto;
    width: 864px;
  }
  
}


/*
| ---------------------------------------------------------------------------------------------------
| MQ -> Big Screen
| ---------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 1304px) {
  body, .page_margins {
    padding: 0 auto;
    margin: 0 auto;
    width: 1172px;
  }
  
}


/*
| ---------------------------------------------------------------------------------------------------
| MQ -> HDTV
| ---------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 1938px) {
  body, .page_margins {
    padding: 0 auto;
    margin: 0 auto;
    width: 1748px;
  }
}


/*
| ---------------------------------------------------------------------------------------------------
| MQ -> Desktop, Screen, HDTV
| ---------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 985px), (min-width: 1304px), (min-width: 1938px) {
  /* Formatting content container */
  #main { float: left; width: 100% }
  #col1 { float: left; width: 50%;  margin: 0 0 0 25% }
  #col2 { float: left; width: 25%;  margin: 0 0 0 -75% }
  #col3 { float: right; width: 25%; margin-left: -5px; margin-right: 0; }
  #col1_content { padding: 0 10px }
  #col2_content { padding: 0 10px 0 20px }
  #col3_content { padding: 0 20px 0 10px }
}


/*
| ---------------------------------------------------------------------------------------------------
| Import print layout
| ---------------------------------------------------------------------------------------------------
*/
@import url(../../yaml/print/print_draft.css);

